:root {
    --primary: #3366cc;
    --secondary: #254e99;
    --dark: #333333;
}

*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--dark);
}

.nav-wrap {
    position: sticky;
    background-color: var(--primary);
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
}

.nav {
    width: 100%;
}

.nav__items {
    padding: 0;
    margin: 0.75rem;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width:768px) {
    .nav__items {
        flex-direction: column;
        gap: 0.5rem;
    }
}

.nav__item {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width:768px) {
    .nav__item {
        width: 100%;
    }
}

.nav__link {
    padding: 1rem 2rem;
    border-radius: 5px;
    color: white;
    background-color: var(--primary);
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s;
    text-align: center;
}

@media (max-width:768px) {
    .nav__link  {
        width: 100%;
    }
}

.nav__link:hover {
    background-color: var(--secondary);
    transition-delay: 0,2s;
}

.nav__link.active {
    background-color: var(--secondary);
    border-radius: 5px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/Header.png');
    background-position: center;
    background-size: cover;
    height: 30vh;
    color: white;
}

.hero--homepage {
    height: 48vh;
}

.hero__title {
    padding: 2rem 4rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    font-size: 4rem;
    color: white;
    border-radius: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

@media (max-width:768px) {
    .hero__title {
        font-size: 2.5rem;
    }
}

main {
    flex: 1;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
}

.sub-nav {
    flex-grow: 1; 
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 10px 0;
    height: 100%;
    width: 100%;
}

.sub-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.sub-nav ul li {
    flex: 1 1 calc(25% - 20px); ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    height: 80%;
}

.sub-nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #007bff;
    background: linear-gradient(45deg, #007bff, #0056b3);
    text-decoration: none;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    padding: 20px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    height: 100%;
    width: 100%;
}

.sub-nav ul li a:hover {
    background-color: var(--secondary);
    transition-delay: 0,2s;
}

.sub-nav ul li a:active {
    color: #0056b3;
}

footer {
    background-color: var(--dark);
    color: #fff;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 2rem;
}

.intro {
    background-color: #f9f9f9;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.2);
    line-height: 1.6;
    font-size: 1.2em;
    padding: 20px;
}

.intro p {
font-size: 0.9em
}

.members {
    margin: 20px;
    display: block;
    flex: 1;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.2);
    line-height: 1.6;
    padding: 0 20px;
}

.members h2 {
    font-size: 2em;
    color: var(--primary);
    margin-bottom: 10px;
}

.members ul {
    list-style-type: none;
    padding: 0;
}

.members ul li {
    padding: 10px 0;
    color: var(--dark);
    border-bottom: 1px solid #ddd;
}

.members-image {
    border-radius: 20px;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 60%;
    flex: 1;
}

.blog-window {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.blog-title {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--dark);
}

.blog-text {
    font-size: 1.2em;
    line-height: 1.6;
    color: var(--dark);
}

.contact-section, .members-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin-top: 10px;
}

.contact-info {
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.2);
    flex: 1;
    height: 400px;
    line-height: 1.6;
    padding: 0 20px;
}

.contact-info h3 {
    font-size: 2em;
    color: black;
    margin: 10px 0;
}

.contact-info p {
    color: var(--dark);
}

.map-container {
    height: 400px;
    border-radius: 20px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.map {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.button-container {
    display: flex;
    gap: 20px;
    justify-content:left;
    margin: 40px;
}

.button {
    padding: 30px 50px;
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    background-color: #007bff;
    background: linear-gradient(45deg, #007bff, #0056b3);
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: var(--secondary);
    transition-delay: 0,1s;
}

@media (max-width:800px) {
    .members-image {
        width: 70%;
    }
}

@media (max-height: 600px) {
    .members-image {
        width: 70%; 
    }
}

@media (max-width:800px) {
    .members-image {
        width: 70%;
    }
}

@media (max-height: 600px) {
    .members-image {
        width: 70%; 
    }
}

@media print {
    footer, header {
        display: none;
    }
}